body{
    background-color: black;
}

.mainScreen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
}

.mainScreen h1{
    font-size: 28px;
    color: #23de6e;
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas-element{
    align-content: center;
}

.instructions{
    color: #9500ff;
}

.instructions ul li{
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 15px;
}

#start-button{
font-size: 16px;
font-family: 'Press Start 2P', cursive;
  background-color: royalblue;
  color: white;
  padding: 10px 10px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  text-align: center;
  margin-top: 25px;
}

#my-canvas{
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.game-input p {
    text-align: center;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    color: #fc9803;
    padding-top: 20px;
}